extends ../layout

block content
  div.container
    div.row.text-center
      include postEntry
    hr
    div.row.text-center
      h5
        a(href="/unit-3/problem/blog2")
          | return to blog home