.postEntry
  form(method="POST" action="/unit-3/problem/blog2/delete/" + post.id)
    button.delete
      | x
  h3
    a(href="/unit-3/problem/blog2/post/" + post.id)
      = post.title
  h5= 'submitted: ' + post.time
  div.art= post.content