extends ../layout

block content
  form
    h2 ascii
    label
      | Name:&nbsp;
      input(type="text", name="name")
    button Submit
  div
    for e in entries
      div
        div= e.name
        div= e.art