header
  a.logo(href="/unit-5/lesson/geolocation") Geolocation
  nav.float-right
    ul
      li
        a(href="/unit-5/lesson/geolocation") You
      li
        a(href="/unit-5/lesson/geolocation/128.61.64.163") Me
      li
        a(href="/unit-5/lesson/geolocation/udacity.com") Udacity
      li
        form.nav-form(action="/unit-5/lesson/geolocation/q")
          input.geotextinput(type=text  name="ip" placeholder="Custom IP or URL")
          input.easy-btn(type="submit" style="padding: 2px 5px")
          