extends ../layout

block content
  div.container
    div.text-center
      form(method="POST")
        h1 new blog post
        div.row
          div#fl1
            label#name
              | Name:&nbsp;
              input(type="text", name="postTitle", value=postTitle)
            span(style="color: red; float: left; margin-left: 6px")
              = titleError
            button#submitbutton Submit
          br
          textarea(name="content")
            = content
          div(style="color: red")
            = contentError