extends ../layout

block content
  div.container
    div.text-center
      p
        = 'You have visited ' + visits + ((visits === 1) ? ' time' : ' times')
      form(method="POST")
        label
          input(type="submit", value="reset visit count")