extends ../layout

block content
  form
    h2 Add a Food
    input(type="text", name="food")
    for food in foods
      input(type="hidden", name="food", value=food)
    <button>Add</button>
  ul
    for food, index in foods
      li= index+1 + ". " + food